*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/codeStyles/Project.xml
/.idea/shelf
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/jarRepositories.xml
*runConfigurations.xml
notes.odt
app_crawler/
app_crawler_core/
app_crawler_model/
